.modal__form {
    background-color: #fefefe;
    color: black;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    position: relative;
    min-width: 430px;
}

@media (max-width: 880px) {
    .modal__form {
        min-width: 282px;
    }
}